$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1366px;

:root {
    --color-white: #fff;
    --color-black: #000;
    --font-size: 18px;
    --container-size: 1140px;
    --container-gutter: 15px
}