-
    let navArr = [
      { 
        value: 'Главная', 
        link: 'index.html', 
      },
      { 
        value: 'О Компании', 
        link: 'about.html', 
      },
      { 
        value: 'Контакты', 
        link: 'contacts.html', 
      },
    ]