mixin icon(name,mod)
  if(mod)
    svg(class="svg-icon " + name + ' ' + mod)
      use(xlink:href="./img/sprites/sprite.svg#" + name)
  else
    svg(class="svg-icon " + name)
      use(xlink:href="./img/sprites/sprite.svg#" + name)

mixin burger(aria)
  button.btn-reset.burger(aria-label=aria)
    span.burger__line

mixin nav(arr)
  nav.nav
    ul.nav__list.list-reset
      each item in arr
        li.nav__item
          a.nav__link(href=item.link)= item.value