extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	.site-container 
		include ../blocks/modules/header/header
		main.main
			include ../blocks/modules/hero/hero
		include ../blocks/modules/footer/footer
		//include ../blocks/modules/modal/modal
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")