.modal
    .modal__container(role="dialog" aria-modal="true" data-graph-target="first")
        button.btn-reset.modal__close(aria-label="Закрыть модальное окно")
        .modal-content
            h2.modal__title Заголовок модального окна