html {
    box-sizing: border-box;
}

*, *:after *:before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    background-color: var(--color-white);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: var(--font-size);
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.site-container {
    overflow: hidden;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    background: transparent;
    &:focus-visible {
        outline: auto;
    }
}
.lock {
    overflow: hidden;
}
.container {
    @include container();
}
.is-open {
    opacity: 1;
    visibility: visible;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}